<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <%- include('./partials/header') %>

    <h2>Add <%= title %> </h2>
    <form id="projectForm" action=<%= route %> method="POST" enctype="multipart/form-data">
    
        <label for="name">Project Name:</label>
        <input type="text" id="name" name="name" required>
    
        <label for="description">Description:</label>
        <textarea id="description" name="description" required></textarea>
    
        <label for="githubLink">GitHub Link:</label>
        <input type="url" id="githubLink" name="githubLink">
    
        <label for="liveDemo">Live Demo Link:</label>
        <input type="url" id="liveDemo" name="liveDemo" placeholder="Live Demo URL">
    
        <label for="image">Upload Image:</label>
        <input type="file" id="image" name="image" accept="image/*">
    
        <label for="technologies">Technologies:</label>
        <input type="text" id="technologies" name="technologies" placeholder="HTML, CSS, JS">
    
        <button type="submit">Add Project</button>
    </form>
    
    <%- include('./partials/footer') %>

</body>

</html>